/************************
 MAIN STYLE SHEET
  - Mobile-first design
  - Primary Layout
  - Primary Components
 ************************/
/************************
 MIXINS
  - These can be copied
    to additional sheets
 ************************/
.hidden {
  display: none;
}
/************************
 PRIMARY LAYOUT
  - Tags because why not?
 ************************/
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-size: 22px;
  color: #333;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}
@media (max-width: 880px) {
  body {
    font-size: 0.9rem;
  }
}
a {
  text-decoration: none;
  color: #d83467;
}
a.no-color {
  color: inherit;
}
.small {
  font-size: 0.6em;
}
.thin {
  font-family: 'Open Sans Condensed', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-stretch: condensed;
}
site {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  box-sizing: padding-box;
  margin: 33px auto;
  max-width: 880px;
  padding: 0 11px;
  padding-right: 15px;
}
wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
top {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 22px;
  align-items: flex-end;
  justify-content: space-between;
}
top .info {
  display: flex;
  position: relative;
  width: 100%;
  align-items: flex-end;
  width: auto;
}
top .info .site-icon {
  margin-right: 22px;
  display: block;
}
top .info .site-icon img {
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  transition: all 0.18s cubic-bezier(0.215, 0.61, 0.355, 1);
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}
top .info .site-icon img:hover {
  border-radius: 22px;
}
@media (max-width: 774.4px) {
  top .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
top .info h {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  font-size: 2em;
}
top nav {
  margin-top: 22px;
  width: auto;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
}
@media (max-width: 774.4px) {
  top {
    margin: auto;
    margin-bottom: 22px;
    max-width: 453px;
    flex-direction: column;
    align-items: flex-end;
  }
  top nav {
    justify-content: center;
    margin: auto;
    margin-top: 22px;
  }
}
middle,
bottom {
  display: block;
  position: relative;
  width: 100%;
}
bottom {
  margin-bottom: 22px;
}
middle {
  margin-bottom: 44px;
}
middle:before {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 11px;
  font-size: 33px;
  content: attr(content-title);
}
middle:nth-child(even):before {
  text-align: right;
}
middle > * {
  display: block;
  position: relative;
  width: 100%;
}
middle > .content,
middle > .flex > .content {
  display: block;
  position: relative;
  width: 100%;
  padding: 22px;
  background-color: #f0f0f0;
  border-radius: 2px;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  box-sizing: border-box;
  box-sizing: padding-box;
  padding: 44px;
}
middle > .content h,
middle > .flex > .content h {
  font-size: 1.2em;
}
middle > .content h:not(:empty):last-of-type,
middle > .flex > .content h:not(:empty):last-of-type {
  margin-bottom: 11px;
}
middle > .content h + subh,
middle > .flex > .content h + subh {
  margin-top: -11px;
  font-style: italic;
}
middle > .content section,
middle > .flex > .content section {
  margin-bottom: 1em;
}
middle > .content subh,
middle > .flex > .content subh {
  margin-bottom: 11px;
}
middle > .content p,
middle > .flex > .content p,
middle > .content ul,
middle > .flex > .content ul {
  margin: 0;
  padding: 0;
  margin-bottom: 44px;
}
middle > .content p:last-child,
middle > .flex > .content p:last-child,
middle > .content ul:last-child,
middle > .flex > .content ul:last-child,
middle > .content p.single,
middle > .flex > .content p.single,
middle > .content ul.single,
middle > .flex > .content ul.single {
  margin-bottom: 0;
}
middle > .content code,
middle > .flex > .content code {
  background: #e0e0e0;
  font-size: 0.9em;
  padding: 0.1em 0.2em;
}
middle > .content .img,
middle > .flex > .content .img {
  height: 20em;
  border-radius: 11px;
  margin-bottom: 44px;
}
middle > .content ul,
middle > .flex > .content ul {
  margin-left: 33px;
  list-style-type: square;
}
middle > .content ul li,
middle > .flex > .content ul li {
  margin-bottom: 5.5px;
}
h,
subh {
  display: block;
  position: relative;
  width: 100%;
}
p {
  margin: 11px 0;
}
ul {
  margin: 0;
}
nav {
  display: flex;
  position: relative;
  width: 100%;
}
nav > * {
  margin-right: 22px;
}
nav > *:last-child {
  margin-right: 0;
}
nav a {
  display: block;
  position: relative;
  width: 100%;
  padding: 22px;
  background-color: #f0f0f0;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  transition: all 0.18s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  width: auto;
  padding: 11px 16.5px;
  color: #333;
}
nav a:hover {
  border-radius: 22px;
}
panel {
  display: block;
  position: relative;
  width: 100%;
  padding: 22px;
  background-color: #f0f0f0;
  border-radius: 2px;
  box-sizing: border-box;
  box-sizing: padding-box;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  background-size: cover;
  background-position: center;
}
panel.title {
  display: inline-block;
  width: auto;
  font-size: 33px;
  margin-bottom: 22px;
}
.round {
  border-radius: 22px;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.flex.inline {
  display: inline-flex;
}
.flex .content {
  margin-right: 22px;
}
.flex .stretch {
  align-self: stretch;
}
@media (max-width: 774.4px) {
  .flex.m_column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .flex.m_column .content {
    margin-right: 0;
    margin-bottom: 22px;
  }
  .flex.m_column .stretch {
    align-self: center;
  }
  .flex.m_column.reverse {
    flex-direction: column-reverse;
  }
}
grid-row {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  justify-content: center;
}
a.tile * {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
		 not supported by any browser */
  cursor: pointer;
}
.tile-card {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  width: auto;
  padding: 22px;
  overflow: hidden;
}
.tile-card:hover {
  border-radius: 22px;
}
.tile-card .thumbnail {
  position: relative;
  margin-left: -22px;
  margin-top: -22px;
}
.tile-card .thumbnail .hover {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tile-card .thumbnail .hover.video {
  width: unset;
  min-width: 100%;
  min-height: 100%;
}
.tile-card .thumbnail .highlight-strong-on-hover strong {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.tile-card:hover .highlight-strong-on-hover strong {
  color: #d83467;
}
.tile-card:hover .thumbnail .hover {
  opacity: 1;
}
.tile-card:hover subh {
  color: #d83467;
}
.tile-card .thumbnail,
.tile-card .thumbnail .hover {
  background-size: cover;
  background-position: center;
}
.tile-card .content {
  display: block;
  position: relative;
  width: 100%;
}
.tile-card .content subh {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
		 not supported by any browser */
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-weight: bold;
}
.tile-card .content .smallish {
  font-size: 0.8em;
}
.tile-card .content * {
  cursor: pointer;
  color: #333;
}
.tile-card .content .short-roles .role:after {
  content: ' / ';
}
.tile-card .content .short-roles .role:last-child:after {
  content: '';
}
.grid grid-row {
  flex-direction: row;
  margin-bottom: 22px;
}
.grid grid-row > * {
  margin-right: 22px;
}
.grid grid-row > *:last-child {
  margin-right: 0;
}
.grid .tile-card {
  width: 10%;
  flex-grow: 1;
  display: block;
}
.grid .tile-card .thumbnail {
  width: 100%;
  padding: 0 44px 70% 0;
  margin-bottom: 11px;
  margin-right: 0;
  border-bottom: 1px solid #333;
  border-right: none;
}
.grid.force-column grid-row {
  flex-direction: column;
  justify-content: stretch;
  margin-bottom: 0;
}
.grid.force-column grid-row .tile-card {
  width: auto;
  margin: 0;
  margin-bottom: 22px;
}
.grid.force-long-tiles .tile-card {
  width: auto;
  display: flex;
}
.grid.force-long-tiles .tile-card .thumbnail {
  width: 120px;
  padding: 0 44px 44px 0;
  margin-bottom: -22px;
  margin-right: 22px;
  border-bottom: none;
  border-right: 1px solid #333;
}
.grid.force-long-tiles .tile-card .thumbnail.wide {
  min-width: 300px;
}
.grid.force-long-tiles .tile-card .thin {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
.grid.m_column grid-row {
  flex-direction: row;
  margin-bottom: 22px;
}
.grid.m_column grid-row > * {
  margin-right: 22px;
}
.grid.m_column grid-row > *:last-child {
  margin-right: 0;
}
@media (max-width: 774.4px) {
  .grid.m_column grid-row {
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 0;
  }
  .grid.m_column grid-row .tile-card {
    width: auto;
    margin: 0;
    margin-bottom: 22px;
  }
}
.grid.m_long-tiles .tile-card {
  width: 10%;
  flex-grow: 1;
  display: block;
}
.grid.m_long-tiles .tile-card .thumbnail {
  width: 100%;
  padding: 0 44px 70% 0;
  margin-bottom: 11px;
  margin-right: 0;
  border-bottom: 1px solid #333;
  border-right: none;
}
@media (max-width: 774.4px) {
  .grid.m_long-tiles .tile-card {
    width: auto;
    display: flex;
  }
  .grid.m_long-tiles .tile-card .thumbnail {
    width: 120px;
    padding: 0 44px 44px 0;
    margin-bottom: -22px;
    margin-right: 22px;
    border-bottom: none;
    border-right: 1px solid #333;
  }
  .grid.m_long-tiles .tile-card .thumbnail.wide {
    min-width: 300px;
  }
  .grid.m_long-tiles .tile-card .thin {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  }
}
.grid.m_tall-tiles .tile-card {
  width: auto;
  display: flex;
}
.grid.m_tall-tiles .tile-card .thumbnail {
  width: 120px;
  padding: 0 44px 44px 0;
  margin-bottom: -22px;
  margin-right: 22px;
  border-bottom: none;
  border-right: 1px solid #333;
}
.grid.m_tall-tiles .tile-card .thumbnail.wide {
  min-width: 300px;
}
.grid.m_tall-tiles .tile-card .thin {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}
@media (max-width: 774.4px) {
  .grid.m_tall-tiles .tile-card {
    width: 10%;
    flex-grow: 1;
    display: block;
  }
  .grid.m_tall-tiles .tile-card .thumbnail {
    width: 100%;
    padding: 0 44px 70% 0;
    margin-bottom: 11px;
    margin-right: 0;
    border-bottom: 1px solid #333;
    border-right: none;
  }
}
.tile {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: #333;
  height: 200px;
  width: 10%;
  padding: 22px;
  flex-grow: 1;
}
.tile:hover {
  border-radius: 22px;
}
.tile .hover-background {
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: #333;
  visibility: hidden;
  opacity: 0;
}
.tile .content {
  display: block;
  position: relative;
  box-sizing: border-box;
  box-sizing: padding-box;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  color: #f0f0f0;
  position: absolute;
  left: 0;
  bottom: -40px;
  width: 100%;
  padding: 14.66666667px 11px 14.66666667px 22px;
  background-color: rgba(51, 51, 51, 0.87);
  border-top: 1px solid #f0f0f0;
  opacity: 0;
}
.tile:hover:not(.static) {
  max-width: 99999px;
  width: 50%;
  flex-grow: 4;
}
.tile:hover:not(.static) .hover-background {
  visibility: visible;
  opacity: 1;
}
.tile:hover:not(.static) .content {
  bottom: 0;
  opacity: 1;
}
inline-content {
  display: flex;
  flex-direction: column;
}
.inline-toggle {
  display: none;
}
.inline-toggle + * {
  display: block;
  transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1), color 600ms cubic-bezier(0.075, 0.82, 0.165, 1), line-height 500ms cubic-bezier(0.075, 0.82, 0.165, 1), padding 500ms cubic-bezier(0.075, 0.82, 0.165, 1), height 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  will-change: padding, line-height;
  opacity: 0;
  color: #f0f0f0;
  line-height: 0em;
  padding-top: 0;
  padding-bottom: 0;
  border-width: 0;
  order: 999999;
}
.inline-toggle + * * {
  transition: margin 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 0;
  will-change: margin;
}
.inline-toggle:checked + * {
  opacity: 1;
  color: #333;
  line-height: 1.4em;
  padding-top: 22px;
  padding-bottom: 22px;
  border-width: 1px;
  order: 1;
  margin-bottom: 22px;
}
.inline-toggle:checked + * h,
.inline-toggle:checked + * subh {
  display: block;
  position: relative;
  width: 100%;
}
.inline-toggle:checked + * p {
  margin: 11px 0;
}
.inline-toggle:checked + * ul {
  margin: 0;
}
.details.large {
  font-style: italic;
  color: #999999;
}
.details .small {
  font-size: 0.9em;
}
.comma-separated:not(:last-child):after {
  content: ',';
}
.side-buttons {
  display: flex;
  position: absolute;
  width: auto;
  right: 0;
  top: -2px;
  z-index: 10;
}
.side-buttons a {
  display: block;
  position: relative;
  width: 100%;
  padding: 22px;
  background-color: #f0f0f0;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  transition: all 0.18s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  width: auto;
  font-size: 0.8em;
  padding: 0.4em 0.6em;
  color: #333;
  margin-right: 11px;
}
.side-buttons a:hover {
  border-radius: 22px;
}
.side-buttons a:last-child {
  margin-right: 0;
}
.full-area {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.title {
  white-space: nowrap;
  font-size: 1.2em;
}
.title a {
  color: #333;
}
overlay {
  display: block;
  position: relative;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: fixed;
  width: 100%;
  left: 0;
  top: unset;
  bottom: 0;
  height: 0%;
  z-index: 999;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgba(224, 224, 224, 0.97);
  border-bottom: none;
  border-top: 22px solid #333;
  margin-bottom: -22px;
}
overlay .bg-toggle {
  display: block;
  position: relative;
  position: fixed;
  width: 100%;
  height: 100%;
}
overlay .overlay-top {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 880px) {
  overlay .overlay-top {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
overlay .overlay-top .overlay-buttons {
  display: flex;
  position: relative;
  width: 100%;
  margin-left: 44px;
  margin-bottom: 22px;
  justify-content: flex-end;
  flex-grow: 1;
}
@media (max-width: 880px) {
  overlay .overlay-top .overlay-buttons {
    justify-content: center;
    margin-left: 0;
  }
}
overlay .overlay-top .overlay-buttons a,
overlay .overlay-top .overlay-buttons label {
  margin: 0;
  padding: 0;
  margin-right: 22px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
		 not supported by any browser */
  cursor: pointer;
}
overlay .overlay-top .overlay-buttons a g,
overlay .overlay-top .overlay-buttons label g {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 1.2em;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  border-radius: 2px;
  color: #333;
  background-color: #f0f0f0;
}
overlay .overlay-top .overlay-buttons a i,
overlay .overlay-top .overlay-buttons label i {
  display: block;
  position: relative;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  text-align: center;
  transform: scale(1.2);
}
overlay .overlay-top .overlay-buttons a:hover g,
overlay .overlay-top .overlay-buttons label:hover g {
  border-radius: 50%;
}
overlay .overlay-top .overlay-buttons a:hover i,
overlay .overlay-top .overlay-buttons label:hover i {
  transform: scale(0.9);
}
overlay .overlay-top .overlay-buttons a:last-child,
overlay .overlay-top .overlay-buttons label:last-child {
  margin-right: 0;
}
overlay::-webkit-scrollbar {
  width: 10px;
}
overlay::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 999px;
}
overlay::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: #c4c4c4;
}
overlay::-webkit-scrollbar-thumb:hover {
  background: yellow !important;
}
.overlay-toggle {
  display: none;
}
.overlay-toggle:checked + overlay {
  height: 100%;
  top: 0;
  bottom: unset;
  border-bottom: 22px solid #333;
  border-top: none;
}
slide-view {
  display: flex;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  box-sizing: padding-box;
  margin-bottom: 22px;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  height: 440px;
  background: #333;
}
slide-view slide {
  display: block;
  position: relative;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  height: 440px;
  flex-grow: 999;
  background-color: #333;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
slide-view slide:before {
  content: '';
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #333;
  opacity: 0.8;
}
slide-view slide video {
  object-fit: cover;
  width: 100%;
}
slide-view slide a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
thumb-list {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 22px;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}
thumb-list thumb {
  position: relative;
  width: 100%;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
		 not supported by any browser */
  cursor: pointer;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  display: block;
  overflow: hidden;
  width: 66px;
  height: 66px;
  background-color: #333;
  background-size: cover;
  background-position: center;
  margin-right: 11px;
}
thumb-list thumb:last-child {
  margin-right: 0;
}
thumb-list thumb label {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
		 not supported by any browser */
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slide-toggle {
  display: none;
}
.slide-toggle:nth-child(1) ~ slide-view slide:nth-child(1) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(1) ~ slide-view slide:nth-child(1):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(1) ~ thumb-list thumb:nth-child(1) {
  transform: scale(1);
}
.slide-toggle:nth-child(1):checked ~ slide-view slide:nth-child(1) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(1):checked ~ slide-view slide:nth-child(1):before {
  opacity: 0;
}
.slide-toggle:nth-child(1):checked ~ thumb-list thumb:nth-child(1) {
  border-radius: 22px;
  transform: scale(0.9);
}
.slide-toggle:nth-child(2) ~ slide-view slide:nth-child(2) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(2) ~ slide-view slide:nth-child(2):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(2) ~ thumb-list thumb:nth-child(2) {
  transform: scale(1);
}
.slide-toggle:nth-child(2):checked ~ slide-view slide:nth-child(2) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(2):checked ~ slide-view slide:nth-child(2):before {
  opacity: 0;
}
.slide-toggle:nth-child(2):checked ~ thumb-list thumb:nth-child(2) {
  border-radius: 22px;
  transform: scale(0.9);
}
.slide-toggle:nth-child(3) ~ slide-view slide:nth-child(3) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(3) ~ slide-view slide:nth-child(3):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(3) ~ thumb-list thumb:nth-child(3) {
  transform: scale(1);
}
.slide-toggle:nth-child(3):checked ~ slide-view slide:nth-child(3) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(3):checked ~ slide-view slide:nth-child(3):before {
  opacity: 0;
}
.slide-toggle:nth-child(3):checked ~ thumb-list thumb:nth-child(3) {
  border-radius: 22px;
  transform: scale(0.9);
}
.slide-toggle:nth-child(4) ~ slide-view slide:nth-child(4) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(4) ~ slide-view slide:nth-child(4):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(4) ~ thumb-list thumb:nth-child(4) {
  transform: scale(1);
}
.slide-toggle:nth-child(4):checked ~ slide-view slide:nth-child(4) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(4):checked ~ slide-view slide:nth-child(4):before {
  opacity: 0;
}
.slide-toggle:nth-child(4):checked ~ thumb-list thumb:nth-child(4) {
  border-radius: 22px;
  transform: scale(0.9);
}
.slide-toggle:nth-child(5) ~ slide-view slide:nth-child(5) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(5) ~ slide-view slide:nth-child(5):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(5) ~ thumb-list thumb:nth-child(5) {
  transform: scale(1);
}
.slide-toggle:nth-child(5):checked ~ slide-view slide:nth-child(5) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(5):checked ~ slide-view slide:nth-child(5):before {
  opacity: 0;
}
.slide-toggle:nth-child(5):checked ~ thumb-list thumb:nth-child(5) {
  border-radius: 22px;
  transform: scale(0.9);
}
.slide-toggle:nth-child(6) ~ slide-view slide:nth-child(6) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(6) ~ slide-view slide:nth-child(6):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(6) ~ thumb-list thumb:nth-child(6) {
  transform: scale(1);
}
.slide-toggle:nth-child(6):checked ~ slide-view slide:nth-child(6) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(6):checked ~ slide-view slide:nth-child(6):before {
  opacity: 0;
}
.slide-toggle:nth-child(6):checked ~ thumb-list thumb:nth-child(6) {
  border-radius: 22px;
  transform: scale(0.9);
}
.slide-toggle:nth-child(7) ~ slide-view slide:nth-child(7) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(7) ~ slide-view slide:nth-child(7):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(7) ~ thumb-list thumb:nth-child(7) {
  transform: scale(1);
}
.slide-toggle:nth-child(7):checked ~ slide-view slide:nth-child(7) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(7):checked ~ slide-view slide:nth-child(7):before {
  opacity: 0;
}
.slide-toggle:nth-child(7):checked ~ thumb-list thumb:nth-child(7) {
  border-radius: 22px;
  transform: scale(0.9);
}
.slide-toggle:nth-child(8) ~ slide-view slide:nth-child(8) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(8) ~ slide-view slide:nth-child(8):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(8) ~ thumb-list thumb:nth-child(8) {
  transform: scale(1);
}
.slide-toggle:nth-child(8):checked ~ slide-view slide:nth-child(8) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(8):checked ~ slide-view slide:nth-child(8):before {
  opacity: 0;
}
.slide-toggle:nth-child(8):checked ~ thumb-list thumb:nth-child(8) {
  border-radius: 22px;
  transform: scale(0.9);
}
.slide-toggle:nth-child(9) ~ slide-view slide:nth-child(9) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(9) ~ slide-view slide:nth-child(9):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(9) ~ thumb-list thumb:nth-child(9) {
  transform: scale(1);
}
.slide-toggle:nth-child(9):checked ~ slide-view slide:nth-child(9) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(9):checked ~ slide-view slide:nth-child(9):before {
  opacity: 0;
}
.slide-toggle:nth-child(9):checked ~ thumb-list thumb:nth-child(9) {
  border-radius: 22px;
  transform: scale(0.9);
}
.slide-toggle:nth-child(10) ~ slide-view slide:nth-child(10) {
  width: 0%;
  left: 0;
  right: unset;
}
.slide-toggle:nth-child(10) ~ slide-view slide:nth-child(10):before {
  opacity: 0.8;
}
.slide-toggle:nth-child(10) ~ thumb-list thumb:nth-child(10) {
  transform: scale(1);
}
.slide-toggle:nth-child(10):checked ~ slide-view slide:nth-child(10) {
  width: 100%;
  left: unset;
  right: 0;
}
.slide-toggle:nth-child(10):checked ~ slide-view slide:nth-child(10):before {
  opacity: 0;
}
.slide-toggle:nth-child(10):checked ~ thumb-list thumb:nth-child(10) {
  border-radius: 22px;
  transform: scale(0.9);
}
info-panel {
  display: block;
  position: relative;
  width: 100%;
  padding: 22px;
  background-color: #f0f0f0;
  border-radius: 2px;
  width: auto;
  padding: 0 0 22px 44px;
  margin: 0 0 22px 44px;
  float: right;
  border-left: 1px solid #333;
}
@media (max-width: 880px) {
  info-panel {
    display: block;
    float: none;
    margin-left: 0;
    border-left: none;
    text-align: center;
    padding-left: 0;
  }
}
.tags .tag {
  display: inline-block;
  background: #333;
  color: #f0f0f0;
  border-radius: 22px;
  padding: 3px 10px;
  margin-bottom: 2px;
}
.bio {
  display: flex;
}
.bio .content {
  display: block;
  position: relative;
  width: 100%;
  padding: 22px;
  background-color: #f0f0f0;
  border-radius: 2px;
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  box-sizing: border-box;
  box-sizing: padding-box;
  padding: 44px;
  margin-right: 22px;
}
.bio .picture {
  border: 1px solid #333;
  box-shadow: #333 6px 6px 0px;
  width: 200px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 774.4px) {
  .bio {
    flex-direction: column-reverse;
    align-items: center;
  }
  .bio .content {
    margin-right: 0;
    margin-bottom: 22px;
  }
  .bio .picture {
    margin-bottom: 22px;
    width: 75%;
    padding-bottom: 75%;
  }
}
a[href*="$"],
*[content*="$"],
*[listcontent*="$"],
*[singlecontent*="$"],
[listcontent]:not([listcontent="list"]),
[singlecontent="list"] {
  display: none;
}
.curtain-controller {
  display: none;
}
.curtain-controller + .curtain {
  z-index: 99999;
  opacity: 1;
}
.curtain {
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f0f0f0;
  opacity: 0;
  z-index: -1000;
}
@media (max-width: 774.4px) {
  .m_square {
    padding: 50% 0 0 0;
  }
}
