@media screen{
	body{
		margin: 2% 10% 5% 10% !important;
	}
	h{
		display: initial !important;
	}
}

body{
	font-size: 0.7rem;
	letter-spacing: 1px;
	font-family: Helvetica, Csonsolas, "Georgia Pro", sans-serif;
	color: #333;
}
body > *{
	display: block;
	width: 100%;
	margin-bottom: 0.6rem;
}
main-title{
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0rem;
	display: block;
	width: 100%;
}
box{
	letter-spacing: 2px;
	color: #eee;
	background-color: #333;
	padding: 0.5em 0 0.5em 0.5em;
}
sec{
	padding-left: 6%;
	width: 94%;
	margin-bottom: 1.2em;
}
e{
	color: #666;
	font-size: 1.2em;
	font-style: italic;
}
mc{
	display: flex;
	justify-content: space-between;
}
mc.floor{
	align-items: flex-end;
}
mc.mid{
	align-items: center;
}
mc.list{
	justify-content: flex-start;
}
mc.list it{
	flex-grow: 0;
	width: unset;
	padding-right: 1em;
}
mc it{
	display: block;
	flex-grow: 1;
	width: auto;
}
r{
	text-align: right;
	display: block;
	width: 100%;
}
ss{
	font-family: Consolas, BentonSans, Helvetica, sans-serif;
}
b{
	font-size: 1.1em;
}
l{
	display: block;
	width: 100%;
	padding-left: 1em;
	padding-top: 0.2em;
}
l.alone{
	padding-top:0;
}
l it{
	display: flex;
	padding: 0.1em 0;
}
l it:before{
	content:'+';
	display: block;
	padding-right: 0.5em;
}
l it.np:before{
	content:'';
	display:none;
	padding:0;
}
l l it:before{
	content:'-';
}

h{
	color: #880000;
	background-color: #ffdddd;
	display: none;
}

@media screen and (-webkit-min-device-pixel-ratio : 2){
	body {
		font-size: 1.4rem;
	}
}